@font-face {
  font-family: 'Ubuntu-Title';
  src: url("/Ubuntu-Title.ttf");
}

body{
  font-family: "Ubuntu-Title" !important;
  background-color: #FF819F;
  letter-spacing: 0.15rem;
  overflow-x: hidden;
}
div.title{
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 3vh
}
img.title{
  width: 80%;
  height:80%;
}

.item1, .item2, .item3{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.item1{
  position:relative;
}
.small-text{
  position: absolute;
  top: 350px;
  z-index: 100;
  bottom: 0;
}


.item-img1, .item-img2, .item-img3{
  height: 400px;
}

.item-title1, .item-title2, .item-title3, .small-text{
  width: 100%;
  height: 100%;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0;
}

.small-text{
  font-size: 1em;
}

.list{
  margin-top: -4%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.te-iubesc{
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  margin-top: 5%;
  width: 100%;
  text-align: center;
  margin-top: 0
}

@media screen and (max-width: 1000px){
  img.title{
    width: 120%;
    height:120%;
  }
}

@media screen and (max-width: 1200px){
  .list{
    flex-direction: column;
  }
  .item-img1, .item-img2, .item-img3{
    height: unset;
    width: 60vw;
  }
}
